# Enable URL rewriting
RewriteEngine On

# Set the base directory for the rewrite rules
RewriteBase /

# Custom Error Pages
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

# Don't apply rules to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove trailing slashes
RewriteRule ^(.+)/$ $1 [L,R=301]

# Redirect /index to the root URL (/)
RewriteRule ^index$ / [R=301,L]

# Remove .php extension
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,NE,L]

# Internally add .php extension back
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# Handle the root URL properly (redirect to index.php)
RewriteRule ^$ index.php [L]

# Prevent directory browsing
Options -Indexes

# Set default character set
AddDefaultCharset UTF-8

# Set default document
DirectoryIndex index.php
